*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color:rgb(236,236,236) ; */
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.categories{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.categories div{
    width: 9%;
    margin: 30px 0px;
}
.categories div img{
    width: 100%;
}

.bankoffers{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin: auto;
}
.bankoffers img{
    border-radius: 3px;
}
.bo-1{
    width: 100%;
    margin: 30px 0px;
    
}
.bo-1 img{
    width: 100%;
    
}
.bo-2{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;

}
.bo-2 img{
    width: 100%;
    
}
.dw-1{
    width: 100%;
    margin: 30px 0px;
    
}
.dw-1 img{
    width: 100%;
    
}

.dw-2{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;

}
.dw-2 img{
    width: 100%;
    
}
#feature{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.f-div{
    width: 450px;
    margin-bottom: 30px;
}
.feature div img{
    width: 90%;
}
